{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{%  block content %}
{% include "components/navbar.html" with active="/contact"  %}


<!-- Landing Section -->
<div class="site-section shadow-lg bg-light animate__animated animate__fadeIn text-center align-items-center justify-content-center" id="landing-section">
	<div class="container p-0">
		<div class="row mt-5 text-center align-items-center justify-content-center">
			<div class="col-10 m-0 p-0 mt-3">
				<div class="jumbotron shadow bg-custom animate__animated animate__bounceIn" id="landing-jumbo">
                    <h1>Contact</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Landing Section -->

<!-- Contact Section -->
<div class="site-section bg-light animate__animated animate__fadeIn" id="site-section">
	<div class="container p-0">
		<div class="row text-center align-items-center justify-content-center">
			<div class="col-md-8 m-0 p-0">
                <h3 class="mb-3 animate__animated animate__fadeIn">Let's talk about what we can build together.</h3>
                <div class="container">
                    <!-- Messages -->
                <div>
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- Messages -->
                <!-- Contact Form -->
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group animate__animated animate__bounceInLeft">
                        {{ form.name }}
                    </div>
                    <div class="form-group animate__animated animate__bounceInRight">
                        {{ form.email }}
                    </div>
                    <div class="form-group animate__animated animate__bounceInLeft">
                        {{ form.phone }}
                    </div>
                    <div class="form-group animate__animated animate__bounceInRight">
                        {{ form.subject }}
                    </div>
                    <div class="form-group animate__animated animate__bounceInLeft">
                        {{ form.message }}
                    </div>
                    <div class="form-group animate__animated animate__rollIn">
                        <button type="submit" class="btn btn-lg bg-light btn-outline-dark border-0 shadow"><i class="far fa-paper-plane"></i> Send</button>
                    </div>
                </form>
                <!-- Contact Form -->
                </div>
                
			</div>
		</div>
	</div>
</div>
<!-- Contact Section -->
{% endblock %}