{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{%  block content %}
{% include "components/navbar.html" with active="/"  %}

<!-- Landing Section -->
<div class="site-section shadow bg-light animate__animated animate__fadeIn" id="home_landing_section">
	<div class="container p-0">
		<div class="row mt-2 text-center align-items-center justify-content-center">
			<div class="col-10 m-0 p-0 mt-5">
				<div class="jumbotron bg-custom mt-4 shadow animate__animated animate__animated animate__fadeInDown">
                    <h1 class="p-0 m-0"><strong>J. Harris</strong></h1>
                    <h1 class="p-0 m-0"><strong>Web Development</strong></h1>
                    <hr>
                    <h5 class="mt-2">E-commerce Shops / Artist Profiles / Small Business Sites</h5>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Landing Section -->
<div class="container-fluid demo align-items-center justify-content-center animate__animated animate__fadeIn" id="landing_contact_section">
    <div class="row">
        <!--Section: Content-->
        <section class="col text-center d-md-block align-items-center justify-content-center p-5 bg-white" id="landing_contact_section">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <h3>Creative Sites For Creative Brands</h3>
                                <a href="{% url 'core:projects' %}" class="btn btn-lg bg-light btn-outline-dark border-0 shadow-sm ">See My Work</a>
                            </div>                            
                        </div>                     
                    </div>
                    <div class="carousel-item">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <h3>Design, Front-End, Back-End</h3>
                                <a href="{% url 'core:about' %}" class="btn btn-lg bg-light btn-outline-dark border-0 shadow-sm ">What I'm About</a>
                            </div>                            
                        </div> 
                    </div>
                    <div class="carousel-item">
                        <div class="card border-0">
                            <div class="card-body">
                                <h3>Let's talk about how I can help you</h3>
                                <a href="{% url 'core:social' %}" class="btn mx-2 bg-light btn-outline-dark border-0 shadow-sm ">Social Media</a>
                                <a href="{% url 'core:contact' %}" class="btn mx-2 bg-light btn-outline-dark border-0 shadow-sm ">Contact</a>
                            </div>                            
                        </div> 
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
        <!--Section: Content-->
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<script>


</script>
{% endblock extra_scripts %}