{% load static %}
<!-- Footer -->
<footer class="footer bg-light text-small shadow">

    <!-- Footer Elements -->
    <div class="container fixed">
  
      <div class="row">
        <div class="col-md p-3 text-center align-items-center justify-content-center">
            <a class="text-secondary nav-link" href="{% url 'core:home' %}">
                <h5 class="mb-0"><i class="far fa-copyright"></i> 2020 J. Harris Web Development</h5>
            </a>
        </div>
        <div class="col-md d-flex button-group text-center align-items-center justify-content-center">
            <a class="text-secondary nav-link foot-link" href="https://www.facebook.com/jharriswebdev/" class="mr-3" role="button"><i class="fab fa-facebook-f"></i></a>
            <a class="text-secondary nav-link foot-link" href="https://www.linkedin.com/in/joshsharris/" class="mr-3" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a class="text-secondary nav-link foot-link" href="https://github.com/jharris711" class="mr-3" role="button"><i class="fab fa-github-alt"></i></a>
            <a class="text-secondary nav-link foot-link" href="https://twitter.com/jheeeeezy" class="mr-3" role="button"><i class="fab fa-twitter"></i></a>
            <a class="text-secondary nav-link foot-link" href="https://stackoverflow.com/story/joshharris" class="mr-3" role="button"><i class="fab fa-stack-overflow"></i></a>
            <a class="text-secondary nav-link foot-link" href="https://www.youtube.com/channel/UCUQ-fkPVp3grr4nGWlH8ppw" class="mr-1" role="button"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
  
    </div>
    <!-- Footer Elements -->
  
  </footer>
  <!-- Footer -->