body {
    padding: 0;
    margin: 0 auto;
    font-family: 'News Cycle', sans-serif;
    overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

.bg-custom {
    background-color: rgba(255,255,255,0.95);
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}

.site-section {
    padding: 3em 0; }
    @media (min-width: 768px) {
      .site-section {
        padding: 7em 0; } }
    .site-section.site-section-sm {
      padding: 4em 0; 
}
.underline_it {
    text-decoration: underline !important;
}

#site-section {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

#home_landing_section {
  position: relative;
  min-height: 74vh;
  min-width: 100vw;
  background-image: url('../images/bg.svg');
  background-position: center;
  background-size: cover;
}
#landing_contact_section {
    min-height: 25vh;
}

#landing-section {
  position: relative;
  min-height: 50vh;
  min-width: 100vw;
  background-image: url('../images/bg.svg');
  background-position: center;
  background-size: cover;
}

